.post-type-post .editor-post-title__block .editor-post-title__input {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 35px;
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    color: #292929;
    text-align: left;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 10px;
    height: auto !important;
}
.post-type-page .editor-post-title__block .editor-post-title__input {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 35px;
    font-family: 'Chivo', sans-serif;
    font-weight: 500;
    color: #292929;
}
.post-type-page .editor-post-title__block {

}
